@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Kanit:wght@400;600&display=swap");

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/body.css");
@import url("sections/whyus.css");
@import url("sections/footer.css");
@import url("sections/shopbody.css");
@import url("sections/about-us.css");
@import url("sections/contact-us.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Kanit", sans-serif;
}
.container {
  margin: 2em;
  padding: 2em;
}
