@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/body.css");
@import url("sections/whyus.css");
@import url("sections/footer.css");
@import url("sections/shopbody.css");

*{
 padding: 0px;
 margin:0px;
 box-sizing: border-box;
 /* line-height: 50px; */
}
.container{
    margin:2em;
    padding:2em;
}

