@import url("sections/header.css");
@import url("sections/hero.css");




*{
 padding: 0px;
 margin:0px;
 box-sizing: border-box;
 line-height: 60px;
}
.container{
    margin:1em;
    padding:1em;
}

