.menu__head {
  text-align: center;
}
.menu__list {
  list-style-type: none;
  border-bottom: 10px solid gray;
  text-align: center;
  margin-bottom: 2em;
}
.menu__list li {
  display: inline-block;
  padding: 2em 4em;
  text-align: center;
}
.menu__list li:hover {
  /* background-color:#eea539; */
  border-bottom: 10px solid #eea539;
  color: #eea539;
}

.menu__cart {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.menu__cart--img1 img {
  width: 200px;
}

.gray {
  color: gray;
}
.menu__cart--img1 {
  background-color: #f4f7fb;
  padding: 1em 2em;
}
.cart__btn {
  background-color: #000;
  color: white;
  padding: 1em 3em;
}
.menu__cart--content {
  align-items: center;
}
.menu__cart--vmbtn {
  background-color: #eea539;
  color: #f4f7fb;
  border: none;
  border-radius: 10%;
  padding: 1em 3em;
  align-content: center;
  position: relative;
  left: 48%;
  right: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.why-us {
  display: flex;
}

.why-us--orange {
  color: #eea539;
  margin-left: 2em;
  margin-bottom: 4em;
}

.why-us__text {
  margin-left: 2em;
  margin-bottom: 4em;
}
.why-us__content {
  margin-right: 2em;
  background-color: #f4f7fb;
  padding: 3.4em;
}

.img__background {
  background-color: #000;
  /* display: flex; */
}
.why-us__content-imagescap {
  /* display: flex; */
  background-color: #f4f7fb;
}

.why-us--pic {
  display: flex;
  padding: 2.6em;
  background-color: #fff;
  margin-bottom: 3em;
}

.why-us--pic h3 {
  margin: 1em;
}

.help {
  margin-top: 5em;
}
.help p {
  text-align: center;
}
.help__contacts {
  /* display: flex; */
  background-color: #f4f7fb;
  text-align: center;
  padding: 2em;
}

.help__info {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  padding: 2em 6em;
  align-content: center;
}

.help-details {
  align-items: center;
}
.help-details img {
  align-content: center;
}
.help-font {
  font-size: 3em;
}

@media screen and (max-width: 815px) {
  .menu {
    display: flex;
    flex-direction: column;
    font-size: smaller;
  }

  .menu__list {
    display: none;
  }
  .menu__list ul {
    width: 100%;
    display: inline-block;
    justify-content: center;
  }
  .menu div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__cart--img1 {
    flex: 1;
  }

  .menu__cart--vmbtn {
    justify-content: center;
  }
  .why-us {
    font-size: 1em;
    display: flex;
    flex-direction: column;
  }

  .why-us__paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .why-us--pic {
    width: 100%;
  }
  .why-us div {
    width: 100%;
  }
  .why-us-bottom {
    align-content: center;
  }
  .why-us__main-image {
    display: none;
  }

  .help__info {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  .help__contacts {
    flex: 1;
  }
  footer {
    width: 100%;
  }
  .menu__cart--vmbtn {
    display: none;
  }
}
