.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  background-color: #faf7fb;
}
.central-header ul li {
  list-style-type: none;
  display: inline-block;
  text-transform: capitalize;
  padding: 1em 2em;
}
.central-header ul li a {
  text-decoration: none;
  color: black;
  padding: 3em 1em;
}
.central-header ul li:hover {
  background-color: #eea539;
  /* padding: 1em; */
}

.central-header ul li a:hover {
  color: #fff;
}

.right-header i {
  display: none;
}
/* Media Queries */

@media screen and (max-width: 815px) {
  .central-header__navlist {
    display: none;
  }
  .right-header i {
    display: inline-block;
  }
  .header {
    display: flex;
    margin-right: 1em;
    width: 100%;
  }
}
