
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;

}
.central-header ul li {
    list-style-type: none;
    margin-right: 2em;
    display: inline-block;
    text-transform: capitalize;
    }
   .central-header ul li a{
        text-decoration: none;
        color:black;
    }
 a :hover{
    background-color: #eea539;

}