.hero{
    display:flex;
    width:45%;
    margin:1em 2em;

}
h1{
    font-size: 80px;
}
.hero-searchbar{
    padding: 2em 4em;
}

.searchbar-container{
    display: flex;
    border:1px solid grey;
    width: 50%;
}
.hero-search-icon{
    width:40px;
    }
    .btn{
        padding-left: 50px;
        padding-bottom:50px ;
    }
    